<footer class="custom-footer mt-auto py-5 bg-dark text-light">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <h5 class="footer-title">Ecom<span class="text-primary">Shop</span></h5>
                <p class="text-secondary mt-3">Providing the best shopping experience since 2024. Elevate your lifestyle
                    with our premium collections.</p>
                <div class="social-links d-flex gap-3 mt-4">
                    <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <h6 class="text-uppercase fw-bold mb-3">Shop</h6>
                <ul class="list-unstyled footer-links">
                    <li><a href="/products">All Products</a></li>
                    <li><a href="/featured">Featured Items</a></li>
                    <li><a href="/new">New Arrivals</a></li>
                    <li><a href="/offers">Special Offers</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h6 class="text-uppercase fw-bold mb-3">Company</h6>
                <ul class="list-unstyled footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h6 class="text-uppercase fw-bold mb-3">Newsletter</h6>
                <p class="text-secondary small">Subscribe to get updates on new products and special promotions.</p>
                <form class="mt-3">
                    <div class="input-group mb-3 custom-input-group">
                        <input type="email" class="form-control" placeholder="Enter your email"
                            aria-label="Email Address">
                        <button class="btn btn-primary px-4" type="button">Join</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="mt-5 mb-4 border-secondary opacity-25">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <p class="small text-secondary mb-0">&copy; 2026 EcomShop. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
                <img src="https://img.icons8.com/color/48/000000/visa.png" width="30" height="30" alt="Visa"
                    class="me-2 opacity-75">
                <img src="https://img.icons8.com/color/48/000000/mastercard.png" width="30" height="30" alt="Mastercard"
                    class="me-2 opacity-75">
                <img src="https://img.icons8.com/color/48/000000/paypal.png" width="30" height="30" alt="Paypal"
                    class="opacity-75">
            </div>
        </div>
    </div>
</footer>